{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h2>About DQLSS:</h2>
    <p>
        {{ test }}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae nunc ac lacus luctus finibus sit amet eu nibh. Maecenas semper nec quam sit amet mollis. Pellentesque vel placerat elit. Maecenas feugiat vitae lorem ac tristique. Duis maximus nisi nec diam eleifend, eget cursus ante euismod. Maecenas eget orci sed urna laoreet volutpat. Etiam eget mollis leo. Cras ornare maximus massa vitae dapibus. Praesent tristique erat nec justo finibus scelerisque. Ut aliquam eget metus vulputate vehicula. Nullam id libero tellus. Nam blandit mattis dui ac eleifend.
        <br>
        Cras id ornare purus, vel cursus lorem. Sed euismod elit leo, eleifend accumsan turpis cursus et. Phasellus lacinia, mi sit amet consectetur bibendum, dolor ante rutrum odio, ac ornare orci ligula a elit. Praesent finibus tincidunt venenatis. Nam vel ipsum quis lectus suscipit hendrerit. Sed vitae eros egestas, dignissim risus quis, faucibus est. Duis egestas sem risus, id viverra metus pulvinar porttitor. Aenean pretium, nibh eu malesuada egestas, odio sapien dignissim sapien, ut rutrum mi nibh at nunc. Curabitur posuere rhoncus cursus. Sed bibendum commodo fermentum. Quisque nec facilisis est. Nulla aliquet, nulla id tristique scelerisque, nisi nibh porta nunc, quis aliquet mauris sem sed lorem. Fusce semper mattis velit, a dapibus ante luctus vel. Integer imperdiet iaculis ex, eget interdum mi volutpat vitae. Quisque pulvinar lectus nec sapien ultricies, eu suscipit elit sollicitudin. Fusce tristique in mi sit amet rhoncus.
    </p>
{% endblock %}